Repository jyablonski/nba_elt_ingestion, changes with the labels that .github/labeler.yml gives for each.
All labels: source_code, cd, ci, dependencies

add
  src/app.py
  src/schema.py
  src/utils.py
  tests/integration/odds_test.py
  tests/schema.py
  tests/unit/old_df_test.py
Labels: source_code

add new file
  tests/fixtures/scrape_odds.pkl
  tests/schema.py
Labels: source_code

add add
  src/utils.py
  tests/fixtures/scrape_odds.pkl
  tests/fixtures/stats_html.html
  tests/integration/stats_test.py
  tests/schema.py
  tests/unit/old_df_test.py
Labels: source_code

add
  tests/schema.py
Labels: source_code

Bump version: 1.13.1 → 1.13.2
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v1.13.2 (#85)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/schema.py
  src/utils.py
  tests/fixtures/scrape_odds.pkl
  tests/fixtures/stats_html.html
  tests/integration/odds_test.py
  tests/integration/stats_test.py
  tests/schema.py
  tests/unit/old_df_test.py
Labels: source_code

add
  poetry.lock
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/twitter_test.py
  tests/unit/old_df_test.py
Labels: source_code, dependencies

Bump version: 1.13.2 → 1.13.3
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

comment out
  src/app.py
Labels: source_code

Ingestion v1.13.3 (#86)
  .bumpversion.cfg
  README.md
  VERSION
  poetry.lock
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/twitter_test.py
  tests/unit/old_df_test.py
Labels: source_code, dependencies

add
  src/utils.py
  tests/conftest.py
  tests/fixtures/shooting_stats.pickle
  tests/fixtures/shooting_stats.pkl
  tests/integration/shooting_stats_test.py
  tests/unit/old_df_test.py
Labels: source_code

Bump version: 1.13.3 → 1.13.4
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

ya ya ya
  tests/schema.py
Labels: source_code

Ingestion v1.13.4 (#87)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/fixtures/shooting_stats.pickle
  tests/fixtures/shooting_stats.pkl
  tests/integration/shooting_stats_test.py
  tests/schema.py
  tests/unit/old_df_test.py
Labels: source_code

what's it likeeeee
  .dockerignore
  .flake8
  .github/workflows/ci_cd.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  Makefile
  poetry.lock
  pyproject.toml
  src/app.py
  src/schema.py
  src/utils.py
  tests/conftest.py
  tests/integration/aws_s3_test.py
  tests/integration/boxscores_test.py
  tests/integration/get_feature_flags_test.py
  tests/integration/injuries_test.py
  tests/integration/odds_test.py
  tests/integration/opp_stats.py
  tests/integration/pbp_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/schedule_test.py
  tests/integration/shooting_stats_test.py
  tests/integration/transactions_test.py
  tests/integration/write_to_sql_upsert_test.py
  tests/unit/old_df_test.py
Labels: source_code, cd, ci, dependencies

z
  .pre-commit-config.yaml
Labels: none

aadd
  src/utils.py
  tests/integration/adv_stats_test.py
  tests/integration/boxscores_test.py
  tests/integration/injuries_test.py
  tests/integration/odds_test.py
  tests/integration/opp_stats_test.py
  tests/integration/pbp_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/schedule_test.py
  tests/integration/shooting_stats_test.py
  tests/integration/stats_test.py
  tests/integration/transactions_test.py
Labels: source_code

add
  .github/workflows/ci_cd.yml
Labels: none

blah blah blah
  src/app.py
  src/utils.py
Labels: source_code

yee
  .github/workflows/ci_cd.yml
Labels: none

remove that
  tests/schema.py
Labels: source_code

pytest mark parametrize that btch
  tests/unit/get_leading_zeroes_test.py
Labels: none

remove dat
  src/app.py
Labels: source_code

remove twitter lines foh
  src/app.py
Labels: source_code

rename dat shit
  src/app.py
Labels: source_code

remove dat
  Makefile
Labels: none

update these for cosmetic purposes
  poetry.lock
  pyproject.toml
Labels: dependencies

bump ver
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v1.13.5 (#88)
  .bumpversion.cfg
  .dockerignore
  .flake8
  .github/workflows/ci_cd.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  VERSION
  poetry.lock
  pyproject.toml
  src/app.py
  src/schema.py
  src/utils.py
  tests/conftest.py
  tests/integration/adv_stats_test.py
  tests/integration/aws_s3_test.py
  tests/integration/boxscores_test.py
  tests/integration/get_feature_flags_test.py
  tests/integration/injuries_test.py
  tests/integration/odds_test.py
  tests/integration/opp_stats_test.py
  tests/integration/pbp_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/schedule_test.py
  tests/integration/shooting_stats_test.py
  tests/integration/stats_test.py
  tests/integration/transactions_test.py
  tests/integration/write_to_sql_upsert_test.py
  tests/schema.py
  tests/unit/get_leading_zeroes_test.py
  tests/unit/old_df_test.py
Labels: source_code, cd, ci, dependencies

add permissions block
  .github/workflows/ci_cd.yml
Labels: none

Ingestion v1.13.5 Hotfix (#89)
  .github/workflows/ci_cd.yml
Labels: none

add
  src/utils.py
  tests/conftest.py
  tests/integration/boxscores_test.py
  tests/integration/check_schedule_test.py
  tests/integration/schedule_test.py
  tests/unit/time_function_test.py
Labels: source_code

s
  src/utils.py
Labels: source_code

bumpv
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v1.13.6 (#90)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/boxscores_test.py
  tests/integration/check_schedule_test.py
  tests/integration/schedule_test.py
  tests/unit/time_function_test.py
Labels: source_code

add add
  README.md
  docker/postgres_bootstrap.sql
Labels: cd

add
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v1.13.7 (#91)
  .bumpversion.cfg
  README.md
  VERSION
  docker/postgres_bootstrap.sql
  pyproject.toml
  src/app.py
Labels: source_code, cd

yee
  docker/Dockerfile
  docker/Dockerfile.test
  docker/install_packages.sh
  poetry.lock
  pyproject.toml
  scripts/backfill.py
  src/utils.py
  uv.lock
Labels: source_code, cd, dependencies

add
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

.github/labeler.yml:

source_code:
- src/*
- tests/*

cd:
- .github/workflows/deploy.yml
- docker/*

ci:
- .github/workflows/test.yml

dependencies:
- poetry.lock
