Repository jyablonski/nba_elt_ingestion, changes with the labels that .github/labeler.yml gives for each.
All labels: cd, ci, dependencies

add
  .pre-commit-config.yaml
  Makefile
  README.md
  docker/Dockerfile.test
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  poetry.lock
  pyproject.toml
  pytest.ini
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/aws_s3_test.py
  tests/integration/boxscores_test.py
  tests/integration/get_feature_flags_test.py
  tests/integration/injuries_test.py
  tests/integration/opp_stats.py
  tests/integration/pbp_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/schedule_test.py
  tests/integration/shooting_stats_test.py
  tests/integration/transactions_test.py
  tests/integration/twitter_test.py
  tests/unit/feature_flags_test.py
  tests/unit/unit_test.py
Labels: cd, dependencies

Bump version: 1.11.1 → 1.11.2
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: none

tada mfer
  docker/Dockerfile
  src/__init__.py
  src/utils.py
Labels: cd

Bump version: 1.11.2 → 1.12.0
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: none

update readme
  README.md
Labels: none

.github/labeler.yml:

source_code:
- any: ['src/*', 'tests/*']
  all: ['!src/app.py']

cd:
- .github/workflows/deploy.yml
- docker/*

ci:
- .github/workflows/test.yml

dependencies:
- poetry.lock
