Repository jyablonski/nba_elt_ingestion, changes with the labels that .github/labeler.yml gives for each.
All labels: source_code, cd, ci, dependencies

add
  .github/workflows/ci_cd.yml
  Makefile
Labels: none

1 more
  .github/workflows/ci_cd.yml
Labels: none

yee
  src/utils.py
Labels: source_code

Ingestion v1.13.8 (#92)
  .bumpversion.cfg
  .github/workflows/ci_cd.yml
  Makefile
  README.md
  VERSION
  docker/Dockerfile
  docker/Dockerfile.test
  docker/install_packages.sh
  poetry.lock
  pyproject.toml
  scripts/backfill.py
  src/app.py
  src/utils.py
  uv.lock
Labels: source_code, cd, dependencies

add fix
  docker/Dockerfile
  docker/Dockerfile.test
Labels: cd

add
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v1.13.9 (#93)
  .bumpversion.cfg
  README.md
  VERSION
  docker/Dockerfile
  docker/Dockerfile.test
  pyproject.toml
  src/app.py
Labels: source_code, cd

add
  src/app.py
  src/aws.py
  src/database.py
  src/decorators.py
  src/scrapers.py
  src/utils.py
  tests/conftest.py
  tests/integration/adv_stats_test.py
  tests/integration/aws_s3_test.py
  tests/integration/aws_ses_test.py
  tests/integration/boxscores_test.py
  tests/integration/get_feature_flags_test.py
  tests/unit/feature_flags_test.py
  tests/unit/time_function_test.py
Labels: source_code

zzz
  pyproject.toml
  src/utils.py
  uv.lock
Labels: source_code

yeee
  src/database.py
  src/decorators.py
  src/tester.py
Labels: source_code

getting closer
  src/app.py
  src/database.py
  src/decorators.py
  src/feature_flags.py
  src/scrapers.py
  src/tester.py
Labels: source_code

yeeeaehgdfsghdfsghsdfgs
  src/app.py
  src/database.py
  src/decorators.py
  src/feature_flags.py
  src/scrapers.py
  src/tester.py
  tests/conftest.py
  tests/integration/boxscores_test.py
  tests/integration/feature_flags_test.py
  tests/integration/get_feature_flags_test.py
  tests/unit/feature_flags_test.py
  tests/unit/time_function_test.py
Labels: source_code

update log formatting
  src/scrapers.py
Labels: source_code

add comment
  src/app.py
Labels: source_code

cleanup
  src/decorators.py
  src/feature_flags.py
  src/utils.py
  tests/conftest.py
  tests/integration/feature_flags_test.py
  tests/unit/check_feature_flag_decorator_test.py
  tests/unit/record_function_time_decorator_test.py
Labels: source_code

add note
  src/app.py
Labels: source_code

zz
  src/utils.py
  tests/integration/aws_s3_test.py
  tests/unit/write_to_slack_test.py
Labels: source_code

bumpv
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v2.0.0 (#94)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/aws.py
  src/database.py
  src/decorators.py
  src/feature_flags.py
  src/scrapers.py
  src/utils.py
  tests/conftest.py
  tests/integration/adv_stats_test.py
  tests/integration/aws_s3_test.py
  tests/integration/aws_ses_test.py
  tests/integration/boxscores_test.py
  tests/integration/feature_flags_test.py
  tests/integration/get_feature_flags_test.py
  tests/unit/check_feature_flag_decorator_test.py
  tests/unit/feature_flags_test.py
  tests/unit/record_function_time_decorator_test.py
  tests/unit/write_to_slack_test.py
  uv.lock
Labels: source_code

add
  scripts/backfill.py
  src/scrapers.py
Labels: source_code

zz
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v2.0.1 (#95)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  scripts/backfill.py
  src/app.py
  src/scrapers.py
Labels: source_code

add
  src/scrapers.py
Labels: source_code

z
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

z
  src/scrapers.py
Labels: source_code

Ingestion 2.0.2 (#96)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/scrapers.py
Labels: source_code

add
  src/app.py
Labels: source_code

bumpv
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

add
  docker/postgres_bootstrap.sql
  src/app.py
  src/scrapers.py
  src/utils.py
Labels: source_code, cd

zz
  tests/unit/generate_schedule_pull_type_test.py
Labels: none

z
  docker/postgres_bootstrap.sql
Labels: cd

Ingestion v2.0.3 (#97)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/scrapers.py
  src/utils.py
  tests/unit/generate_schedule_pull_type_test.py
Labels: source_code

add
  pyproject.toml
  src/app.py
  uv.lock
Labels: source_code

add
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

zzzzzzzzzzzzzz
  pyproject.toml
  uv.lock
Labels: none

Ingestion v2.0.4 (#98)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  uv.lock
Labels: source_code

add
  Makefile
  docker/Dockerfile
  docker/Dockerfile.test
  docker/docker-compose-test.yml
Labels: cd

simplify docker build push
  .github/workflows/ci_cd.yml
  docker/docker-compose.yml
Labels: cd

add
  .github/workflows/ci_cd.yml
Labels: none

add
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

.github/labeler.yml:

source_code:
- src/*
- tests/*

cd:
- .github/workflows/deploy.yml
- docker/*

ci:
- .github/workflows/test.yml

dependencies:
- poetry.lock
