Repository jyablonski/nba_elt_ingestion, changes with the labels that .github/labeler.yml gives for each.
All labels: source_code, cd, ci, dependencies

z
  pyproject.toml
Labels: none

update slack
  .github/workflows/ci_cd.yml
Labels: none

try
  .github/workflows/ci_cd.yml
Labels: none

revert that
  .github/workflows/ci_cd.yml
Labels: none

z
  .github/workflows/ci_cd.yml
Labels: none

Ingestion v2.0.5 (#100)
  .bumpversion.cfg
  .github/workflows/ci_cd.yml
  Makefile
  README.md
  VERSION
  docker/Dockerfile
  docker/Dockerfile.test
  docker/docker-compose-test.yml
  docker/docker-compose.yml
  pyproject.toml
  src/app.py
Labels: source_code, cd

add
  docker/postgres_bootstrap.sql
  src/app.py
  tests/integration/game_odds_test.py
  tests/integration/league_schedule_test.py
  tests/integration/league_transactions_test.py
  tests/integration/player_boxscores_test.py
  tests/integration/player_injuries_test.py
  tests/integration/player_pbp_test.py
  tests/integration/player_shooting_stats_test.py
  tests/integration/player_stats_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/team_adv_stats_test.py
  tests/integration/team_opp_stats_test.py
Labels: source_code, cd

bumpv
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v2.0.6 (#101)
  .bumpversion.cfg
  README.md
  VERSION
  docker/postgres_bootstrap.sql
  pyproject.toml
  src/app.py
  tests/integration/game_odds_test.py
  tests/integration/league_schedule_test.py
  tests/integration/league_transactions_test.py
  tests/integration/player_boxscores_test.py
  tests/integration/player_injuries_test.py
  tests/integration/player_pbp_test.py
  tests/integration/player_shooting_stats_test.py
  tests/integration/player_stats_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/team_adv_stats_test.py
  tests/integration/team_opp_stats_test.py
Labels: source_code, cd

add
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  docker/Dockerfile
  docker/docker-compose-test.yml
  pyproject.toml
  tests/integration/aws_s3_test.py
  tests/integration/game_odds_test.py
  tests/integration/league_schedule_test.py
  tests/integration/league_transactions_test.py
  tests/integration/player_boxscores_test.py
  tests/integration/player_injuries_test.py
  tests/integration/player_pbp_test.py
  tests/integration/player_shooting_stats_test.py
  tests/integration/player_stats_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/team_adv_stats_test.py
  tests/integration/team_opp_stats_test.py
  tests/unit/scrapers/game_odds_scraper_test.py
  tests/unit/scrapers/league_schedule_scraper_test.py
  tests/unit/scrapers/league_transactions_scraper_test.py
  tests/unit/scrapers/player_boxscores_scraper_test.py
  tests/unit/scrapers/player_injuries_scraper_test.py
  tests/unit/scrapers/player_pbp_scraper_test.py
  tests/unit/scrapers/player_shooting_stats_scraper_test.py
  tests/unit/scrapers/player_stats_scraper_test.py
  tests/unit/scrapers/reddit_comments_scraper_test.py
  tests/unit/scrapers/team_adv_stats_scraper_test.py
  tests/unit/scrapers/team_opp_stats_scraper_test.py
  tests/utils/db_assertions.py
  uv.lock
Labels: cd

z
  pyproject.toml
Labels: none

zz
  pyproject.toml
  uv.lock
Labels: none

zz
  .coveragerc
  Makefile
  pyproject.toml
Labels: none

Ingestion v2.0.7 (#102)
  .coveragerc
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  Makefile
  docker/Dockerfile
  docker/docker-compose-test.yml
  pyproject.toml
  tests/integration/aws_s3_test.py
  tests/integration/game_odds_test.py
  tests/integration/league_schedule_test.py
  tests/integration/league_transactions_test.py
  tests/integration/player_boxscores_test.py
  tests/integration/player_injuries_test.py
  tests/integration/player_pbp_test.py
  tests/integration/player_shooting_stats_test.py
  tests/integration/player_stats_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/team_adv_stats_test.py
  tests/integration/team_opp_stats_test.py
  tests/unit/scrapers/game_odds_scraper_test.py
  tests/unit/scrapers/league_schedule_scraper_test.py
  tests/unit/scrapers/league_transactions_scraper_test.py
  tests/unit/scrapers/player_boxscores_scraper_test.py
  tests/unit/scrapers/player_injuries_scraper_test.py
  tests/unit/scrapers/player_pbp_scraper_test.py
  tests/unit/scrapers/player_shooting_stats_scraper_test.py
  tests/unit/scrapers/player_stats_scraper_test.py
  tests/unit/scrapers/reddit_comments_scraper_test.py
  tests/unit/scrapers/team_adv_stats_scraper_test.py
  tests/unit/scrapers/team_opp_stats_scraper_test.py
  tests/utils/db_assertions.py
  uv.lock
Labels: cd

a
  .pre-commit-config.yaml
  pyproject.toml
  scripts/backfill.py
  src/app.py
  src/aws.py
  src/database.py
  src/decorators.py
  src/feature_flags.py
  src/scrapers.py
  src/utils.py
  tests/conftest.py
  tests/integration/aws_s3_test.py
  tests/integration/check_schedule_test.py
  tests/integration/feature_flags_test.py
  tests/integration/game_odds_test.py
  tests/integration/league_schedule_test.py
  tests/integration/league_transactions_test.py
  tests/integration/player_boxscores_test.py
  tests/integration/player_injuries_test.py
  tests/integration/player_pbp_test.py
  tests/integration/player_shooting_stats_test.py
  tests/integration/player_stats_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/team_adv_stats_test.py
  tests/integration/team_opp_stats_test.py
  tests/unit/check_feature_flag_decorator_test.py
  tests/unit/generate_schedule_pull_type_test.py
  tests/unit/query_logs_test.py
  tests/utils/db_assertions.py
Labels: source_code

add
  pyproject.toml
Labels: none

z
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

z
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v2.0.8 (#103)
  .bumpversion.cfg
  .pre-commit-config.yaml
  README.md
  VERSION
  pyproject.toml
  scripts/backfill.py
  src/app.py
  src/aws.py
  src/database.py
  src/decorators.py
  src/feature_flags.py
  src/scrapers.py
  src/utils.py
  tests/conftest.py
  tests/integration/aws_s3_test.py
  tests/integration/check_schedule_test.py
  tests/integration/feature_flags_test.py
  tests/integration/game_odds_test.py
  tests/integration/league_schedule_test.py
  tests/integration/league_transactions_test.py
  tests/integration/player_boxscores_test.py
  tests/integration/player_injuries_test.py
  tests/integration/player_pbp_test.py
  tests/integration/player_shooting_stats_test.py
  tests/integration/player_stats_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/team_adv_stats_test.py
  tests/integration/team_opp_stats_test.py
  tests/unit/check_feature_flag_decorator_test.py
  tests/unit/generate_schedule_pull_type_test.py
  tests/unit/query_logs_test.py
  tests/utils/db_assertions.py
Labels: source_code

add
  src/app.py
  src/scrapers.py
  src/utils.py
  tests/conftest.py
Labels: source_code

add
  src/scrapers.py
  tests/conftest.py
  tests/fixtures/transactions.html
  tests/fixtures/transactions_html.html
  tests/integration/league_transactions_test.py
  tests/unit/scrapers/league_schedule_scraper_test.py
  tests/unit/scrapers/league_transactions_scraper_test.py
Labels: source_code

add
  src/app.py
  src/scrapers.py
  tests/conftest.py
  tests/fixtures/odds_data.pickle
  tests/fixtures/odds_data.pkl
  tests/fixtures/scrape_odds.pkl
  tests/integration/game_odds_test.py
  tests/integration/player_boxscores_test.py
  tests/unit/scrapers/game_odds_scraper_test.py
Labels: source_code

z
  Makefile
  docker/docker-compose-postgres.yml
Labels: cd

add
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v2.0.9 (#104)
  .bumpversion.cfg
  Makefile
  README.md
  VERSION
  docker/docker-compose-postgres.yml
  pyproject.toml
  src/app.py
  src/scrapers.py
  src/utils.py
  tests/conftest.py
  tests/fixtures/odds_data.pickle
  tests/fixtures/odds_data.pkl
  tests/fixtures/scrape_odds.pkl
  tests/fixtures/transactions.html
  tests/fixtures/transactions_html.html
  tests/integration/game_odds_test.py
  tests/integration/league_transactions_test.py
  tests/integration/player_boxscores_test.py
  tests/unit/scrapers/game_odds_scraper_test.py
  tests/unit/scrapers/league_schedule_scraper_test.py
  tests/unit/scrapers/league_transactions_scraper_test.py
Labels: source_code, cd

add
  docker/postgres_bootstrap.sql
  src/app.py
  src/feature_flags.py
Labels: source_code, cd

add
  .bumpversion.cfg
  README.md
  VERSION
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  scripts/backfill.py
  tests/conftest.py
  tests/integration/game_odds_test.py
  tests/integration/league_schedule_test.py
  tests/integration/league_transactions_test.py
  tests/integration/player_boxscores_test.py
  tests/integration/player_injuries_test.py
  tests/integration/player_pbp_test.py
  tests/integration/player_shooting_stats_test.py
  tests/integration/player_stats_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/team_adv_stats_test.py
  tests/integration/team_opp_stats_test.py
Labels: source_code, cd

remove
  Makefile
Labels: none

ingestion <> schema rearchitecture (#105)
  .bumpversion.cfg
  Makefile
  README.md
  VERSION
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  scripts/backfill.py
  src/app.py
  src/feature_flags.py
  tests/conftest.py
  tests/integration/game_odds_test.py
  tests/integration/league_schedule_test.py
  tests/integration/league_transactions_test.py
  tests/integration/player_boxscores_test.py
  tests/integration/player_injuries_test.py
  tests/integration/player_pbp_test.py
  tests/integration/player_shooting_stats_test.py
  tests/integration/player_stats_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/team_adv_stats_test.py
  tests/integration/team_opp_stats_test.py
Labels: source_code, cd

add
  docker/postgres_bootstrap.sql
  player_adv_stats.pickle
  src/app.py
  src/scrapers.py
  tests/conftest.py
  tests/fixtures/player_adv_stats.pickle
  tests/integration/player_adv_stats_test.py
Labels: source_code, cd

yee
  .github/workflows/ci_cd.yml
Labels: none

add
  src/app.py
Labels: source_code

add
  src/app.py
Labels: source_code

add player_adv_stats table (#106)
  .github/workflows/ci_cd.yml
  docker/postgres_bootstrap.sql
  player_adv_stats.pickle
  src/app.py
  src/scrapers.py
  tests/conftest.py
  tests/fixtures/player_adv_stats.pickle
  tests/integration/player_adv_stats_test.py
Labels: source_code, cd

add
  .github/workflows/ci_cd.yml
  docker/Dockerfile
  docker/postgres_bootstrap.sql
  src/database.py
  uv.lock
Labels: source_code, cd

chore: update schema bug fix (#107)
  .github/workflows/ci_cd.yml
  docker/Dockerfile
  docker/postgres_bootstrap.sql
  src/database.py
  uv.lock
Labels: source_code, cd

update
  scripts/backfill.py
Labels: none

chore: fix backfill script (#108)
  scripts/backfill.py
Labels: none

feat: add changes
  .agents/skills/add-missing-odds-data/SKILL.md
  .gitignore
  .opencode.json
  AGENTS.md
  src/utils.py
  tests/integration/check_schedule_test.py
Labels: source_code

fix(schedule): update league schedule endpoint (#109)
  .agents/skills/add-missing-odds-data/SKILL.md
  .gitignore
  .opencode.json
  AGENTS.md
  src/utils.py
  tests/integration/check_schedule_test.py
Labels: source_code

.github/labeler.yml:

source_code:
- src/*
- tests/*

cd:
- .github/workflows/deploy.yml
- docker/*

ci:
- .github/workflows/test.yml

dependencies:
- poetry.lock
