Repository jyablonski/nba_elt_ingestion, changes with the labels that .github/labeler.yml gives for each.
All labels: source_code, cd, ci, dependencies

add
  tests/conftest.py
  tests/integration/write_to_sql_upsert_test.py
Labels: source_code

Bump version: 1.12.6 → 1.12.7
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion Script Prod Release v1.12.7 (#76)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/adv_stats_test.py
  tests/integration/boxscores_test.py
  tests/integration/injuries_test.py
  tests/integration/odds_test.py
  tests/integration/opp_stats.py
  tests/integration/pbp_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/schedule_test.py
  tests/integration/shooting_stats_test.py
  tests/integration/stats_test.py
  tests/integration/transactions_test.py
  tests/integration/twitter_test.py
  tests/integration/write_to_sql_upsert_test.py
  tests/unit/filter_spread_test.py
Labels: source_code

add decorator
  src/utils.py
  tests/conftest.py
  tests/unit/time_function_test.py
Labels: source_code

Bump version: 1.12.7 → 1.12.8
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

update docstring
  src/utils.py
Labels: source_code

updates
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/unit/time_function_test.py
Labels: source_code

Ingestion Script Prod Release v1.12.8 (#77)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/unit/time_function_test.py
Labels: source_code

add
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  docker/docker-compose.yml
  docker/postgres_bootstrap.sql
  pyproject.toml
  src/schema.py
  src/utils.py
  tests/fixtures/boxscores_data.csv
  tests/schema.py
Labels: source_code, cd

new col names
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  src/schema.py
  src/utils.py
  tests/fixtures/tweepy_tweets.csv
  tests/schema.py
Labels: source_code, cd

yeehaw
  poetry.lock
  pyproject.toml
  src/app.py
Labels: source_code, dependencies

Bump version: 1.12.8 → 1.12.9
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

z
  docker/Dockerfile
  docker/Dockerfile.test
Labels: cd

z
  .github/workflows/test.yml
Labels: ci

woop
  .github/workflows/test.yml
Labels: ci

Ingestion Script Prod Release v1.12.9 (#78)
  .bumpversion.cfg
  .github/workflows/test.yml
  README.md
  VERSION
  docker/Dockerfile
  docker/Dockerfile.test
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  docker/docker-compose.yml
  docker/postgres_bootstrap.sql
  poetry.lock
  pyproject.toml
  src/app.py
  src/schema.py
  src/utils.py
  tests/fixtures/boxscores_data.csv
  tests/fixtures/tweepy_tweets.csv
  tests/schema.py
Labels: source_code, cd, ci, dependencies

add
  src/utils.py
Labels: source_code

add fix
  src/utils.py
Labels: source_code

Bump version: 1.12.9 → 1.12.10
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion Script Prod Release v1.12.10 (#79)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/utils.py
Labels: source_code

add
  src/utils.py
Labels: source_code

add
  .github/workflows/deploy.yml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/unit/get_season_type_test.py
  tests/unit/old_df_test.py
Labels: source_code, cd

add
  src/utils.py
  tests/integration/schedule_test.py
Labels: source_code

Bump version: 1.12.10 → 1.12.11
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v1.12.11 (#82)
  .bumpversion.cfg
  .github/workflows/deploy.yml
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/schedule_test.py
  tests/unit/get_season_type_test.py
  tests/unit/old_df_test.py
Labels: source_code, cd

add
  src/app.py
  src/utils.py
Labels: source_code

add
  docker/Dockerfile
  docker/Dockerfile.test
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  poetry.lock
  pyproject.toml
Labels: cd, dependencies

update
  .github/workflows/test.yml
Labels: ci

add
  poetry.lock
  pyproject.toml
Labels: dependencies

add color
  Makefile
  docker/docker-compose-test.yml
Labels: cd

add
  tests/schema.py
Labels: source_code

Bump version: 1.12.11 → 1.13.0
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

Ingestion v1.13.0 (#83)
  .bumpversion.cfg
  .github/workflows/test.yml
  Makefile
  README.md
  VERSION
  docker/Dockerfile
  docker/Dockerfile.test
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  poetry.lock
  pyproject.toml
  src/app.py
  src/utils.py
  tests/schema.py
Labels: source_code, cd, ci, dependencies

update CD
  .github/workflows/deploy.yml
Labels: cd

add
  src/utils.py
Labels: source_code

Bump version: 1.13.0 → 1.13.1
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

update pkl file for odds
  tests/conftest.py
  tests/fixtures/scrape_odds.pickle
  tests/fixtures/scrape_odds.pkl
  tests/integration/odds_test.py
Labels: source_code

zz
  tests/unit/old_df_test.py
Labels: none

Ingestion v1.13.1 (#84)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/fixtures/scrape_odds.pickle
  tests/fixtures/scrape_odds.pkl
  tests/integration/odds_test.py
  tests/unit/old_df_test.py
Labels: source_code

add
  src/app.py
  src/schema.py
  src/utils.py
  tests/conftest.py
  tests/fixtures/scrape_odds.pickle
  tests/fixtures/scrape_odds.pkl
  tests/integration/odds_test.py
  tests/schema.py
  tests/unit/old_df_test.py
Labels: source_code

.github/labeler.yml:

source_code:
- src/*
- tests/*

cd:
- .github/workflows/deploy.yml
- docker/*

ci:
- .github/workflows/test.yml

dependencies:
- poetry.lock
