Repository jyablonski/nba_elt_ingestion, changes with the labels that .github/labeler.yml gives for each.
All labels: source_code, cd, ci, dependencies

.github/labeler.yml:

source_code:
- src/*
- tests/*

cd:
- .github/workflows/deploy.yml
- docker/*

ci:
- .github/workflows/test.yml

dependencies:
- poetry.lock

add
  src/utils.py
  tests/unit/get_season_type_test.py
Labels: source_code

Bump version: 1.12.0 → 1.12.1
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

add
  src/app.py
  src/utils.py
  tests/integration/write_to_slack_test.py
  tests/unit/query_logs_test.py
Labels: source_code

Bump version: 1.12.1 → 1.12.2
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

z
  src/utils.py
Labels: source_code

remove that gahbage
  src/utils.py
Labels: source_code

add
  .gitignore
  tests/fixtures/test.log
Labels: none

update print statements
  src/utils.py
Labels: source_code

Ingestion Script Prod Release v1.12.2 (#71)
  .bumpversion.cfg
  .gitignore
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/utils.py
  tests/fixtures/test.log
  tests/integration/write_to_slack_test.py
  tests/unit/get_season_type_test.py
  tests/unit/query_logs_test.py
Labels: source_code

add
  src/app.py
  src/utils.py
Labels: source_code

Bump version: 1.12.2 → 1.12.3
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

updated tests for 3rd party data changes ;-)
  tests/fixtures/scrape_odds.pickle
  tests/integration/odds_test.py
  tests/unit/unit_test.py
Labels: none

Ingestion Script Prod Release v1.12.3 (#72)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/utils.py
  tests/fixtures/scrape_odds.pickle
  tests/integration/odds_test.py
  tests/unit/unit_test.py
Labels: source_code

add
  src/utils.py
  tests/conftest.py
  tests/integration/adv_stats_test.py
  tests/integration/aws_s3_test.py
  tests/unit/clean_player_names_test.py
Labels: source_code

Bump version: 1.12.3 → 1.12.4
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

z
  src/utils.py
Labels: source_code

d
  README.md
Labels: none

g
  README.md
Labels: none

Ingestion Script Prod Release v1.12.4 (#73)
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/adv_stats_test.py
  tests/integration/aws_s3_test.py
  tests/unit/clean_player_names_test.py
Labels: source_code

fix type hints + add mypy
  poetry.lock
  pyproject.toml
  src/app.py
  src/utils.py
  tests/unit/get_leading_zeroes_test.py
Labels: source_code, dependencies

deprecate email functions
  src/utils.py
  tests/integration/aws_ses_test.py
Labels: source_code

Bump version: 1.12.4 → 1.12.5
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

add
  src/utils.py
Labels: source_code

add
  src/utils.py
  tests/conftest.py
  tests/fixtures/boxscores_no_data.html
  tests/fixtures/mock_schedule_fixed_date.json
  tests/integration/boxscores_test.py
Labels: source_code

re
  README.md
Labels: none

s
  src/utils.py
Labels: source_code

add
  src/utils.py
Labels: source_code

yee haw
  src/utils.py
  tests/integration/boxscores_test.py
Labels: source_code

dxdds
  src/utils.py
Labels: source_code

Ingestion Script Prod Release v1.12.5 (#74)
  .bumpversion.cfg
  README.md
  VERSION
  poetry.lock
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/fixtures/boxscores_no_data.html
  tests/fixtures/mock_schedule_fixed_date.json
  tests/integration/aws_ses_test.py
  tests/integration/boxscores_test.py
  tests/unit/get_leading_zeroes_test.py
Labels: source_code, dependencies

add
  src/utils.py
  tests/unit/clean_odds_spread_test.py
Labels: source_code

Bump version: 1.12.5 → 1.12.6
  .bumpversion.cfg
  README.md
  VERSION
  pyproject.toml
  src/app.py
Labels: source_code

add type hints for mcoker
  tests/conftest.py
Labels: source_code

rename that file
  tests/unit/old_df_test.py
Labels: none

mfer
  docker/postgres_bootstrap.sql
  src/utils.py
  tests/conftest.py
  tests/fixtures/scrape_odds_v2.pickle
  tests/integration/odds_test.py
  tests/unit/clean_odds_spread_test.py
  tests/unit/filter_spread_test.py
  tests/unit/old_df_test.py
Labels: source_code, cd

fix
  tests/conftest.py
  tests/fixtures/scrape_odds.pickle
  tests/fixtures/scrape_odds_v2.pickle
Labels: source_code

t
  src/utils.py
Labels: source_code

d
  src/utils.py
Labels: source_code

Ingestion Script Prod Release v1.12.6 (#75)
  .bumpversion.cfg
  README.md
  VERSION
  docker/postgres_bootstrap.sql
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/fixtures/scrape_odds.pickle
  tests/integration/odds_test.py
  tests/unit/filter_spread_test.py
  tests/unit/old_df_test.py
Labels: source_code, cd

add
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/adv_stats_test.py
  tests/integration/boxscores_test.py
  tests/integration/injuries_test.py
  tests/integration/odds_test.py
  tests/integration/opp_stats.py
  tests/integration/pbp_test.py
  tests/integration/reddit_comments_test.py
  tests/integration/schedule_test.py
  tests/integration/shooting_stats_test.py
  tests/integration/stats_test.py
  tests/integration/transactions_test.py
  tests/integration/twitter_test.py
  tests/unit/filter_spread_test.py
Labels: source_code
